
/*Informações de Contatos*/
section {
    margin: 10% 15% 0% 15%;
    padding: 10% 1% 13% 1%;
    background-color: rgb(122, 211, 122, 0.3);
    border: 3px solid rgb(125, 9, 69);
    border-radius: 90px 90px 90px 90px;
    box-shadow: inset 5px 5px 25px 5px rgb(0, 0, 0, 2.5);
    color: black;
    font-size: 30px;
    text-align: center;
    word-wrap: break-word;
}

.redes-sociais img {
    width: 60px;
    padding: 0% 2% 0% 2%;
}


/*Formulario*/
form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 85%;
    padding: 15px;
    border: 2px solid rgb(125, 9, 69);
    border-radius: 5px;
    margin-bottom: 30px;
    font-size: 20px;
}

form button {
    background-color: rgb(122, 211, 122);
    color: black;
    border: 3px solid rgb(125, 9, 69);
    font-size: 50%;
    font-weight: bold;
    padding: 15px 40px;  
    border-radius: 10px;
    cursor: pointer;
    margin-top: auto;
    align-self: center;
}

form button:hover {
    background-color: rgb(125, 9, 69);
    color: white;
    border: 3px solid rgb(122, 211, 122);
}


/*Versão Mobile*/
@media (max-width: 800px) {
    /*Estilização da section dos contatos*/
    section {
        padding: 15% 10% 20% 10%;
        margin: 10% 10% 10% 10%;
        font-size: 15px;
    }
}