

/*Texto Sobre Nós*/
#sobre-nos-paragrafo {
    padding: 10% 5% 10% 5%;
    margin: 10% 20% 10% 20%;
    font-size: 25px;
    background-color: rgb(122, 211, 122, 0.3);
    box-shadow: inset 5px 5px 25px 5px rgb(0, 0, 0, 2.5);
    color: black;
    border-radius: 20%;
}