
/*Conteiner de Bem-Vindo*/
.image-container {
    position: relative;
    max-width: 100%;
}

#inicioIMG {
    display: block;
    width: 50%;
    border-radius: 0px 30px 30px 0px;
    margin-top: 20px;
    height: 600px;
    border: 3px solid rgb(125, 9, 69);
}

#bemVindo {
    position: absolute;
    top: 35%;
    left: 40%;
    width: 55%;
    max-width: 100%;
    background-color: rgb(122, 211, 122);
    padding: 20px;
    text-align: center;
    border: 3px solid rgb(125, 9, 69);
    border-radius: 90px 30px 30px 90px;
    box-shadow: inset 5px 5px 15px rgb(0, 0, 0, 2.5);
    color: black;
    font-size: 40px;
}


/*Aba Novidades*/
.nov_principal {
    font-size: 50px;
    text-align: center;
    padding: 100px;
    padding-bottom: 20px;
    border-bottom: 5px solid black;
    width: 50%;
    margin: 0 auto;
}

.imagens-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin: 10%;
    margin-top: 60px;
    position: relative;
}

.imagem-item {
    width: 70%;
    height: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid rgb(125, 9, 69);
    margin: 0 auto;
    position: relative;
}

.imagem-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

.legenda {
    position: absolute;
    color: white;
    background-color: rgba(125, 9, 69, 0.5);
    padding: 20px 40px 40px 5px;
    width: 100%;
    bottom: 0px;
    left: 0px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}


/*Aba Anúncio*/
#anuncioRestaurante {
    width: 60%;
    position: relative;
    z-index: 9;
    display: block;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    border: 10px solid rgb(125, 9, 69);
}


/*Aba de Carrosséis*/
.carousel-container {
    display: block;
    width: 1000px;
    height: 700px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
    border: 10px solid rgb(125, 9, 69);
}

.carousel-slide {
    display: flex;
    width: 400%;
    transition: transform 0.5s ease-in-out;
}

.carousel-slide img {
    width: 33.33%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.legendaPrincipal {
    position: absolute;
    color: white;
    background-color: rgb(122, 211, 122, 0.5);
    border: 4px solid rgba(125, 9, 69, 0.6);
    border-width: 5px 5px 0 0;
    bottom: 10%;
    text-align: center;
    padding: 30px 200px 30px 200px;
    margin: 0 auto;
    margin-bottom: -26px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 0px 100px 0px 0px;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 5rem;
    color: rgb(122, 211, 122);
    background-color: rgba(125, 9, 69, 0.8);
    padding: 10px;
    cursor: pointer;
    z-index: 5;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

.carousel-mobile { /*Imagem no lugar do Carrossél para versão mobile.*/
    display: none;
}


/*Versão Mobile*/
@media (max-width: 1050px) {
    /*Estilização do inicio*/
    #inicioIMG {
        width: 60%;
        height: 100%;
    }
    #bemVindo {
        top: 30%;
        width: 45%;
        font-size: 100%;
    }

    /*Estilização dos grids novidades*/
    .imagens-container {
        gap: 3%;
        margin: 0%;
        margin-top: 50px;
    }
    .legenda {
        padding: 5px 0px 20px 0px;
        font-size: 10px;
    }
    
    /*Estilização do carrosséis de slide*/
    .carousel-container {
        display: none;
    }
    .carousel-mobile {
        display: flex;
    }
    .carousel-mobile img {
        width: 70%;
        position: relative;
        z-index: 9;
        display: block;
        margin: 0 auto;
        margin-top: 10%;
        margin-bottom: 10px;
        border: 5px solid rgb(125, 9, 69);
    }
}

/*Versão Mobile*/
@media (max-width: 768px) {
    /*Estilização dos nomes das abas*/
    .nov_principal {
        font-size: 20px;
        width: 25%;
        padding: 40px;
        padding-bottom: 10px;
    }

    /*Estilização da aba de imagens*/
    .imagens-container {
        gap: 2%;
        margin: 3%;
        margin-top: 30px;
    }
    .imagem-item {
        width: 80%;
        border: 3px solid rgb(125, 9, 69);
    }
    .legenda {
        background-color: rgba(125, 9, 69, 0.3);
    }

    /*Estilização do anúncio*/
    #anuncioRestaurante {
        width: 80%;
        margin-top: 60px;
        margin-bottom:30px;
        border: 5px solid rgb(125, 9, 69);
    }
    
    /*Estilização da imagem substituta do carrosel*/
    .carousel-mobile img {
        width: 80%;
        border: 3px solid rgb(125, 9, 69);
    }
}
